{% extends 'base.html.twig' %}

{% block content %}
<div class="login_form">
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% if error %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3 remember_me">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me">Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
